.root {
  display: flex;
  flex-direction: row;
}

.left-panel {
  display: flex;
  flex-direction: row;
  padding: 50px 0 20px;
}

.resizer {
  width: 10px;
  background-color: transparent;
  cursor: col-resize;
  transition: ease;
}

@media only screen and (max-width: 800px) {
  .root {
    flex-direction: column;
  }

  .left-panel {
    flex-direction: column;
  }
}
.bottomBar {
  bottom: 0px;
}
