.navBar {
  position: fixed;
  width: 100%;
  background: #000000;
  height: 45px;
  opacity: 0.8;
}
.navBar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 1.5rem;
}

.spacer {
  width: 250px;
}

.listPlusLogo {
  display: inline-flex;
}
.navBar_logo {
  width: 50px;
}
.navBar_navigation-items {
  padding-top: 15px;
  height: 45px;
}

.navBar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding-block-end: 0;
  display: flex;
}
.navBar_navigation-items li {
  padding: 0 3em;
}
.navBar_navigation-items a {
  color: white;
  text-decoration: none;
}

.navBar_navigation-items a:hover,
.navBar_navigation-items a:active {
  color: #c0c0c0;
}

@media (max-width: 769px) {
  .navBar_navigation-items {
    display: none;
  }
}

@media (max-width: 769px) {
  .navBar_logo {
    padding-top: 8px;
  }
}

@media (min-width: 769px) {
  .toggleButton {
    display: none;
  }
}
@media (max-width: 769px) {
  .spacer {
    width: 100px;
  }
}
@media (min-width: 769px) {
  .playButton {
    display: none;
  }
}
